apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: online-boutique
resources: 
  - ../../base
  - namespace.yaml
  - peer-auth.yaml
  - deny-all.yaml
  - allow-frontend.yaml
  - allow-internal.yaml
  - ingress.yaml
  - cluster-secret-store.yaml
  - redis-external-secret.yaml
patches:
  - target: {kind: Deployment}
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value: {readOnlyRootFilesystem: true, runAsNonRoot: true}